<!--
body {
	
	background-color: #fff;
	margin: 1em;
	padding: 0;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
}


/*------------------HEADER---------------*/

.header {
	width: 100%;
	height: 40%;
	margin: 1em auto;
	border: 1px solid black;
	text-align: center;
	padding: 3em;
	background-color: #1680B8;
	
}

/*------------------FINE HEADER---------------*/


/*------------------COLONNA SINISTRA---------------*/

.sinistra {
	float: left;
	width: 30%;
	padding-bottom: 10px;
	border: 1px solid black;
	
}



.domanda {
	background-color: #1680B8;
	padding-bottom: 10px;
	border-top: 1px solid black;
	text-align: center;
	border: 1px solid black;
	padding-left: 1em;
	height: 15em;
	margin-bottom: 2em;
	
}

.sidebar1 {
	
	background-color: #1680B8;
	border: 1px solid black;
	
}

.faq {
	
	border: 1px solid black;
	margin: 1em 0;
	
	padding-left: 1em;
}

input[type=richiesta] {
	width: 30em;
	height: 3em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.video {
	
	padding: 0.5em;
	
}


/*------------------ FINE COLONNA SINISTRA---------------*/
	

/*------------------CONTENUTO---------------*/

.content {
	
	background-color: #1680B8;
	width: 32%;
	float: left;
	border: 1px solid black;
	margin: 0 1em;
}

.meeting {
	padding: 1em;
	
	text-align: center;
	
	}
	
.prenotazioni {
	margin: 3em;
	border: 1px solid black;
	text-align: center;
}



/*------------------ FINE CONTENUTO---------------*/

/*------------------ COLONNA DESTRA---------------*/

.sidebar2 {
	float: left;
	width: 29%;
	background-color: #1680B8;
	padding: 10px 1em;
}

.community {
	border: 1px solid black;
	padding: 2em;	
}

.offerte {
	border: 1px solid black;
	margin-top: 15em;
	text-align: center;
	
}

/*------------------ FINE COLONNA DESTRA---------------*/

/* ~~The footer ~~ */
.footer {
	padding: 10px 0;
	background-color: #6F7D94;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
}


@media screen and (min-width: 400px) and (max-width: 768px) {
	

body {
	float:none;
	font-size: 12px;
	background-color: white;
	margin: 1em;
	color: white;
	display: block;
}

.sidebar1 { clear:both; }

.video, .meeting { display:none; }

}

@media screen and (min-width: 0px) and (max-width: 400px) {
	

body {
	float:none;
	font-size: 12px;
	background-color: white;
	margin: 1em;
	color: white;
	display: inline-block;
}



.video, .meeting { display:none; }

}