
	
.form-1,  .submit {
		
	position:relative;	
	width: 400px;
	top: 200px;
	
}

.contenuto_index {
	clear:both;
	width:70%;
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 750px;
	
}

iframe {
width: 95%;
top:600px;

}

@media only screen and (orientation:landscape) {
	

	
	iframe {
		
		
		top: 1300px !important;
		display:block !important;
		margin-left:auto !important;
		margin-right:auto !important;
		
		
	}
	
	
	
}



.form-1 input[type=password] {
	width:80%;
	font-size: 15px;
	
}

h1 {
	
	text-align: center; 
	font-size:40px !important; 
	
}





	